[defaults]
host_key_checking = False

[galaxy]
server_list = automation_hub, galaxy

[galaxy_server.automation_hub]
url=https://console.redhat.com/api/automation-hub/

[galaxy_server.galaxy]
url=https://galaxy.ansible.com/
